<p>
  A 3D Printer makes tangible objects by extruding melted plastic layer by layer.
  This process is called &ldquo;additive manufacturing&rdquo;.
  HI Capacity has a couple hobbyist printers that have been used to print everything from a bust of Yoda to bottle openers.
  The printers are available for use by any HI Capacity member, and there are many models available for free online.
  Print a case for your Raspberry Pi or design your own model!
</p>