<p>
  The HI Capacity Event Calendar is always full of cool things to do!
  We have classes where you can learn about some neat new technology or learn a new skill.
  We have meet-ups where members work together on projects.
  We have social events such as BBQs or weekend getaways.
  So much to do!
</p>
<p>
  You can check our calendar on our website, too.
  You might find a free public event that you'd like to attend!
</p>