<p>
  An oscilloscope is an instrument used to test electrical circuits.
  It lets you observe signals which are varying in a graph.
  It shows voltage on the y-axis, and time on the x-axis.
  This oscilloscope is hooked up to music.
</p>