<%= render :partial => 'head' %>
<h2 class="general-edit">Edit Your Info</h2>
<p>
  You profile picture and name are used on our &ldquo;leader board&rdquo;.
  If you do not want to use your actual name or profile picture, you can change your settings below.
</p>
<%= render :partial => 'form' %>