<%= render :partial => 'head' %>
<h2 class="general-heart">Thanks for Joining!</h2>
<p>
  We would like to use your profile picture and name on our &ldquo;leader board&rdquo;.
  However, you can disable your profile picture below, or change your name if you'd like.
</p>
<%= render :partial => 'form' %>