<h2 class="general-smiley">You've found Jason!</h2>
<p>
  Alan is  software developer...
</p>
<p>
  Early in his career he worked at Cyberdyne Systems on a project called Skynet.
  Although he got to work on some cool robot technology, he ultimately didn't like the direction the company was headed.
</p>
<p>
  He then started working for the Dharma Initiative and loved being on an island but kept getting Lost.
</p>
<p>
  Recently he worked at Massive Dynamic as a neuroprogrammer and had this to say about his experience there...
  "They had great Fringe benefits but I was a poor Observer."
</p>
<p>
  ... but now he's a HICapacity community board member and hacks away on several startups, most notably <a href="http://surfpeek.com/" class="general-website">SurfPeek.com</a>.
</p>
<% unless @badges.empty? %>
  <%= render :partial => 'badge' %>
<% end %>