<h2 class="general-smiley">You've found Matt!</h2>
<p>
  Matt plays with electronics.
  Matt likes programming.
  Matt is a co-founder.
  Matt doesn't know how to describe himself.
  He is a generalist who makes everything and anything.
</p>
<% unless @badges.empty? %>
  <%= render :partial => 'badge' %>
<% end %>