<h2 class="general-smiley">You found the Leap Motion!</h2>
<p>
  The Leap Motion is a revolutionary device that lets you interact with the computer by waving your hands over the small device on the desk.
  Try swiping your hand left and right in front of the monitor.
</p>
<% unless @badges.empty? %>
  <%= render :partial => 'badge' %>
<% end %>