<h2 class="general-smiley">You've found James!</h2>
<p>
  James is a software engineer who has been involved in several hackathons with other HI Capacity members.
</p>
<% unless @badges.empty? %>
  <%= render :partial => 'badge' %>
<% end %>