<h2 class="general-smiley">You've found Ross!</h2>
<p>
  You unlock this door with the QR code of imagination.
  Beyond it is another dimension-
  A dimension not only of tech and tools, but of making.
  A journey into a wondrous land of creativity.
  Next stop: Ross from Oahu Makerspace.
</p>
<% unless @badges.empty? %>
  <%= render :partial => 'badge' %>
<% end %>