<h2 class="general-smiley">You've found Chris!</h2>
<p>
  Chris is a web/software developer at Ikayzo.
  Kid at heart who doesn't want to stop learning and is passionate about fostering a community of (sofware) craftmanship on the island.
  Tonight Chris has brewed some gluten-free ale for you to try.
  It was done using sorghum instead of malted barely for fermenable sugars.
</p>
<% unless @badges.empty? %>
  <%= render :partial => 'badge' %>
<% end %>