<h2 class="general-smiley">You've found Jason!</h2>
<p>
  Jason Axelson is one of the co-founders of HI Capacity.
  He is a software developer that occasionally tinkers with hardware.
</p>
<% unless @badges.empty? %>
  <%= render :partial => 'badge' %>
<% end %>