<% content_for :junk do %>
  <meta property="fb:app_id" content="<%= Settings.facebook_appid %>" /> 
  <meta property="og:type"   content="hicapacity:badge" /> 
  <meta property="og:url"    content="Put your own URL to the object here" /> 
  <meta property="og:title"  content="Sample Badge" /> 
  <meta property="og:image"  content="https://fbstatic-a.akamaihd.net/images/devsite/attachment_blank.png" />
<% end %>

<h2>You've Found a QR Code!</h2>
