<% if @badges.empty? %>
  <h2 class="general-checkmark">You've Found a QR Code!</h2>
  <p><%= @inspirational_msg %></p>
<% else %>
  <h2 class="general-star">You've Found a QR Code and Won a Neat Badge!</h2>
  <p><%= @inspirational_msg %></p>
  <%= render :partial => 'badge' %>
<% end %>