@import 'imports/mixins';
@import 'imports/colors';

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

h2,
strong {
  font-weight: 700;
  font-size: 1.2em;
}

p {
  margin: 1em 0;
	line-height: 1.2;
	
	&.error,
	&.notice {
	  margin: 0.5em 0;
	  padding: 0.5em;
	  @include border-radius;
	}
	
	&.error {
	  color: #fcc;
	  background-color: rgba(255, 192, 192, 0.35);
	}
	
	&.notice {
	  background-color: rgba(46, 117, 153, 0.35);
	}
}

body {
  background-image: url(/assets/escheresque_ste.png);
	font-family: 'Merriweather', serif;
	color: $text-color;
}

header {
  @include vlinear-gradient(#333333, #222222);
  @include box-shadow(0, 5px);
  padding: 1em;
  position: relative;

  h1 {
    width: 176px;
    height: 20px;
    text-indent: -9999px;
    background: url(/assets/hicap_logo.png) no-repeat top left;
    margin: 0 auto;
  }
  
  a.settings {
    position: absolute;
    top: 6px;
    right: 6px;
    
    img {
      width: 40px;
      height: 40px;
    }
  }
}

section#loading,
section#login,
section#main-content,
section#public-content {
	margin: 10px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.1);
	@include box-shadow(4px, 4px);
	@include border-radius;
}

section#login {
  text-align: center;
}

section#login,
section#main-content {
  display: none;
}

div#denied {
  display: none;
}

div.btngroup {
	margin-top: 1em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  @include border-radius;

	a.btn {
		margin: 0 0.5em;
	}
}

a.btn {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  padding: 0.5em 1em 0.5em 0.75em;
  border: 1px solid black;
  @extend .inline-block;
  @include vlinear-gradient($btn-light, $btn-dark);
  @include box-shadow(4px, 4px);
  @include border-radius;
  @include text-shadow;
  
  &:hover,
  &:active {
    @include vlinear-gradient(lighten($btn-light, 5%), lighten($btn-dark, 5%));
  }

	&.no-text {
		padding-right: 0.75em;
	}

	&.is-disabled {
		@include vlinear-gradient($btn-disabled-light, $btn-disabled-dark);

		&:hover,
		&:active {
			@include vlinear-gradient(lighten($btn-disabled-light, 5%), lighten($btn-disabled-dark, 5%));
		}
	}
}

input.txt {
	font: inherit;
	color: inherit;
	background-color: rgba(255, 255, 255, 0.1);
	border-width: 0;
	margin: 0.5em;
	padding: 0.5em 0.75em;
	outline: none;
	@include border-radius;
}