@import 'imports/mixins';
@import 'imports/colors';

a:link,
a:visited,
a:hover,
a:active {
  color: lighten($blue, 40%);
  text-decoration: none;
}

a[class*="general-"]:before {
  @include transition(color, 2s);
}

a:hover:before,
a:active:before {
  color: $blue;
  @include transition(color, 2s);
}

h2,
strong {
  font-weight: 700;
  font-size: 1.2em;
}

h2[class*="general-"]:before {
  color: $blue;
  border-right-width: 0;
  margin-right: 0;
}

p {
  margin: 1em 0;
	line-height: 1.4;
	
	&.error,
	&.notice {
	  margin: 0.5em 0;
	  padding: 0.5em;
	  @include border-radius;
	}
	
	&.error {
	  color: #fcc;
	  background-color: rgba(255, 192, 192, 0.35);
	}
	
	&.notice {
	  background-color: rgba(46, 117, 153, 0.35);
	}
}

body {
  background-image: url(/assets/escheresque_ste.png);
	font-family: 'Merriweather', serif;
	color: $text-color;
	
	&.scrolllock {
		overflow: hidden;
	}
}

header {
  @include vlinear-gradient(#333333, #222222);
  @include box-shadow(0, 5px);
  padding: 1em;
  position: relative;

  h1 {
    width: 176px;
    height: 20px;
    text-indent: -9999px;
    background: url(/assets/hicap_logo.png) no-repeat top left;
    margin: 0 auto;
  }
  
  a.settings {
    position: absolute;
    top: 6px;
    right: 6px;
    
    img {
      width: 40px;
      height: 40px;
    }
  }
}

section#loading,
section#login,
section#main-content {
	margin: 10px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.1);
	@include box-shadow(4px, 4px);
	@include border-radius;
}

section#login {
  text-align: center;
}

section#login,
section#main-content {
  display: none;
}

div#denied {
  display: none;
}

div.btngroup {
	margin-top: 1em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  @include border-radius;

	a.btn {
		margin: 0 0.5em;
	}
}

a.btn {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
	color: inherit;
  padding: 0.5em 1em 0.5em 0.75em;
  border: 1px solid black;
  @extend .inline-block;
  @include vlinear-gradient($btn-light, $btn-dark);
  @include box-shadow(4px, 4px);
  @include border-radius;
  @include text-shadow;

	&[class*="general-"]:before,
	&[class*="social-"]:before {
		padding-right: 0.5em;
	  border-right: 1px solid rgba(0, 0, 0, 0.25);
	  margin-right: 0.4em;
	}
  
  &:hover,
  &:active {
    @include vlinear-gradient(lighten($btn-light, 5%), lighten($btn-dark, 5%));

		&:before {
			color: inherit;
		}
  }

	&.no-text {
		padding-right: 0.75em;
	}

	&.is-disabled {
		@include vlinear-gradient($btn-disabled-light, $btn-disabled-dark);

		&:hover,
		&:active {
			@include vlinear-gradient(lighten($btn-disabled-light, 5%), lighten($btn-disabled-dark, 5%));
		}
	}
}

input.txt {
	font: inherit;
	color: inherit;
	background-color: rgba(255, 255, 255, 0.1);
	border-width: 0;
	margin: 0.5em;
	padding: 0.5em 0.75em;
	outline: none;
	@include border-radius;
}

@-webkit-keyframes badge-burst {
	from {-webkit-transform: rotate(0deg); width: 100%; height: 100%; left: 0%; top: 0%;}
	25% {width: 80%; height: 80%; left: 10%; top: 10%;}
	50% {width: 100%; height: 100%; left: 0%; top: 0%;}
	75% {width: 80%; height: 80%; left: 10%; top: 10%;}
	to {-webkit-transform: rotate(360deg); width: 100%; height: 100%; left: 0%; top: 0%;}
}
@-moz-keyframes badge-burst {
	from {-moz-transform: rotate(0deg); width: 100%; height: 100%; left: 0%; top: 0%;}
	25% {width: 80%; height: 80%; left: 10%; top: 10%;}
	50% {width: 100%; height: 100%; left: 0%; top: 0%;}
	75% {width: 80%; height: 80%; left: 10%; top: 10%;}
	to {-moz-transform: rotate(360deg); width: 100%; height: 100%; left: 0%; top: 0%;}
}
@keyframes badge-burst {
	from {transform: rotate(0deg); width: 100%; height: 100%; left: 0%; top: 0%;}
	25% {width: 80%; height: 80%; left: 10%; top: 10%;}
	50% {width: 100%; height: 100%; left: 0%; top: 0%;}
	75% {width: 80%; height: 80%; left: 10%; top: 10%;}
	to {transform: rotate(360deg); width: 100%; height: 100%; left: 0%; top: 0%;}
}

.badge {
	position: relative;
	overflow: hidden;
	
	.burst {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background: transparent image-url("burst.png") no-repeat center center;
		background-size: contain;
		-webkit-animation-name: badge-burst;
		-webkit-animation-duration: 10s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
		-moz-animation-name: badge-burst;
		-moz-animation-duration: 10s;
		-moz-animation-iteration-count: infinite;
		-moz-animation-timing-function: linear;
		animation-name: badge-burst;
		animation-duration: 10s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
}

div.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
}

#leaderboard {
	position: relative;
	
	div.player {
	  position: relative;
		background-color: rgba(255, 255, 255, 0.1);
	  padding: 5px 60px 5px 5px;
		font-size: 1.2em;
		line-height: 50px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		z-index: 1;
	  @include border-radius;

		img {
			width: 50px;
			height: 50px;
			margin-right: 5px;
		}
	
		span.qrtotal {
			display: block;
			position: absolute;
			top: 0;
			right: -55px;
			width: 50px;
			height: 50px;
			text-align: center;
			background-color: rgba(255, 255, 255, 0.1);
			@include border-radius;
		}
	}
	
	div.player,
	div.placeholder {
		margin: 5px 0;
	}
}